/* CSS 변수 (다크 모드 및 공통 스타일에 활용) */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --card-bg: #f9f9f9;
  --neon-green : #47ff7b;
  --neon-pink: #ff4cb5;
  --neon-cyan: #35eaff;
  --neon-yellow: #ffe84a;
  --neon-orange: #ff9b3d;

}



* {
  box-sizing : border-box;  
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

#quiz-section::before {
  content : "";
  position : absolute;
  inset : 0;
  background-image:
    radial-gradient(circle, rgba(255,255,255,.8) 1px, transparent 1.5px),
    radial-gradient(circle, rgba(53,234,255,.65) 1px, transparent 1.5px);
  background-size: 83px 83px, 127px 127px;
  background-position: 0 0, 30px 40px;
  opacity: .28;
  pointer-events : none; 
  /* ^^^ 배경 때문에 onclick이 막히는 걸 방지 */

}


body {
  background-color : #050505;
  color : white;
  overflow-x: hidden;

}

body::before {
  content : "";
  position : fixed;
  top : 0;
  left : 0;

  width : 100%;
  height : 200%;
  
  background-image : 
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(#47ff7b 1px, transparent 1px);

  background-size : 50px 50px, 80px 80px;

  animation : starMove 15s linear infinite;

  opacity : 0.35;

  pointer-events : none;

  z-index : -1;
}

@keyframes starMove {
  from {
    transform : translateY(-50%);

  }

  to {
    transform : translateY(0);
  }
}

/* 검색 기능 */

.search-box {
  display: flex;
  justify-content: right;

  margin: 30px 0;
}

#quiz-search {
  width: 200px;

  margin : 0px 30px 0px 0px;
  padding: 15px 10px;
  

  background-color: black;
  color: #47ff7b;

  border: 2px solid #47ff7b;

  font-family: "Press Start 2P", monospace;

  outline: none;
}

#quiz-search::placeholder {
  color: #47ff7b;
  opacity: 0.5;
}

#quiz-search:focus {
  box-shadow:
    0 0 10px #47ff7b,
    0 0 20px #47ff7b;
}

#no-result {
  display : none;

  text-align : center;
  margin : 50px 0;

  color : #47ff7b;

  font-family: "Press Start 2P", monospace;
  font-size: 18px;
}


/* 뒤로 가기 버튼 */
.back-button {
  padding: 12px 20px;

  background-color: black;
  color: #47ff7b;

  border: 2px solid #47ff7b;

  font-family: "Press Start 2P", monospace;

  cursor: pointer;

  transition: 0.2s;
}

.back-button:hover {
  box-shadow:
    0 0 10px #47ff7b,
    0 0 20px #47ff7b;

  transform: translateX(-5px);
}

.player-register {
  padding: 12px 20px;

  color: #47ff7b;

  /* border: 2px solid #47ff7b; */

  font-family: "Press Start 2P", monospace;

  cursor: pointer;

  transition: 0.2s;
}

/* 표지 아래 헤더 부분 */

.select-game {font-size:50px; text-align:center; color : var(--neon-green); font-family : "Press Start 2P", monospace;}

.game-grid { display: grid; grid-template-columns: repeat(5, minmax(0, 1fr)); gap: 16px; }

@media (max-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Moviequiz-card {
  --accent: var(--neon-green);
  min-height : 350px;
  display : flex;
  flex-direction : column;
  padding : 20px 16px;
  border : 3px solid var(--accent);
  border-radius : 15px;
  box-shadow : 0 0 0 rgba(0,0,0,0);
  font-family: "Press Start 2P", monospace;
  color : white;
}

.Moviequiz-card:hover {
  transform : translateY(-10px);
}

.icon {
  font-size : 60px; 
  text-align : center; 
  padding : 15px;
}
.Moviequiz-card h3 { margin: 0 0 13px; text-align: center; color: #47ff7b; font-size: 22px; }
.Moviequiz-card p { margin: 0 0 13px; text-align: center;  font-size: 14px; }
.difficulty {font-size : 12px; text-align : center;}
.play-button {font-size : 17px; padding : 5px; border : 4px solid #47ff7b; background-color : #07120a; color : #47ff7b; font-family : "Press Start 2P", monospace;}

.Footballquiz-card {
  --accent: var(--neon-pink);
  min-height : 350px;
  display : flex;
  flex-direction : column;
  padding : 20px 16px;
  border : 3px solid var(--accent);
  border-radius : 15px;
  box-shadow : 0 0 0 rgba(0,0,0,0);
  font-family: "Press Start 2P", monospace;
  color : white;
}

.Footballquiz-card:hover {
  transform : translateY(-10px);
}

.Footballquiz-card h3 { margin: 0 0 13px; text-align: center; color: #ff4cb5; font-size: 22px; }
.Footballquiz-card p { margin: 0 0 13px; text-align: center;  font-size: 14px; }
.difficulty {font-size : 12px; text-align : center;}

.Mathquiz-card {
  --accent: var(--neon-cyan);
  min-height : 350px;
  display : flex;
  flex-direction : column;
  padding : 20px 16px;
  border : 3px solid var(--accent);
  border-radius : 15px;
  box-shadow : 0 0 0 rgba(0,0,0,0);
  font-family: "Press Start 2P", monospace;
  color : white;

}

.Mathquiz-card:hover {
  transform : translateY(-10px);
}

.Mathquiz-card h3 { margin: 0 0 13px; text-align: center; color:  #35eaff; font-size: 22px; }
.Mathquiz-card p { margin: 0 0 13px; text-align: center;  font-size: 14px; }
.difficulty {font-size : 12px; text-align : center;}

.Historyquiz-card {
  --accent: var(--neon-orange);
  min-height : 350px;
  display : flex;
  flex-direction : column;
  padding : 20px 16px;
  border : 3px solid var(--accent);
  border-radius : 15px;
  box-shadow : 0 0 0 rgba(0,0,0,0);
  font-family: "Press Start 2P", monospace;
  color : white;

}

.Historyquiz-card:hover {
  transform : translateY(-10px);
}

.Historyquiz-card h3 { margin: 0 0 13px; text-align: center; color: #ffe84a;font-size: 22px; }
.Historyquiz-card p { margin: 0 0 13px; text-align: center;  font-size: 14px; }
.difficulty {font-size : 12px; text-align : center;}


@media (prefers-color-scheme: dark) {
  :root {
      --bg-color: #121212;
      --text-color: #f1f1f1;
      --card-bg: #1e1e1e;
  }
}

